:root {
    --color-ligth: #f8f9fa;
    --color-white: #fff;
    --color-unaccent: #808080;
    --color-medium: #e8e8e8;
    --color-dark: #111;
    --color-error-light: #f25b6b;
    --color-error-dark: #d65c5c;

    --spacing-small: 10px;
    --spacing-medium: 15px;
    --spacing-large: 30px;

    --border-radius: 5px;

    --linear-gradient: linear-gradient(to right, #E2F87C, #D6F567, #C8F151, #b9ee38, #a8eb12);
	--box-shadow: 
		0 16px 24px 2px rgba(33, 37, 41, .1), 
		0 6px 30px 5px rgba(33, 37, 41, .04), 
		0 8px 10px -5px rgba(33, 37, 41, .1);
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-dark);
    border-radius: var(--border-radius);
}
::-webkit-scrollbar-track {
    background: var(--color-white);
}

a , ul li {
    text-decoration: none;
    list-style: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    line-height: 1.7;
    background: var(--color-ligth);
}
main {
    padding: var(--spacing-large) 0;
    width: 85%;
    margin: 0 auto;
}